{% set total = 0 %}
{% for type,issueList in issues %}
    {% set total = total + issueList|length %}
{% endfor %}

<div class="mobile">
<div class="header-info">
    <div class="teams">
{% for smell,teamsInSmell in teams %}
    {% for count, teamList in teamsInSmell %}
        {% for team in teamList %}
        <div class="smell-{{ smell }}">{{ team }}: {{ count }}</div>
        {% endfor %}
    {% endfor %}
{% endfor %}
    </div>
</div>

<table cellspacing="0" cellpadding="0">
    <colgroup>
        <col width="69%">
        <col width="31%">
    </colgroup>
{% for type,issueList in issues %}
    {% if not issueList is empty %}
    <tr>
        {% set backsmell = issueList[issueList|length-1].smell %}
        <td class="header" colspan="5"><div>{{ type }}</div><div class="total smell-{{ backsmell }}">{{ issueList|length }} total tickets</div></td>
    </tr>
    {% endif %}
    {% for issue in issueList %}
    <tr class="back-smell-{{ backsmell }}">
        <td><div class="summary">{{ issue.summary }}</div></td>
        <td><div class="time smell-{{ issue.smell }}">{{ issue.since }}</div></td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
</div>
